extends layout
block content
  h1= title
  form(id='citiesForm', action="/resource/cities", method="POST")
    div.form-group
      label.citiesAttr(for='cityname') City Name
      input#cityname(type='text', name='cityname')
    div.form-group
      label.citiesAttr(for='citypopulation') City Population
      input#citypopulation(type='text', name='citypopulation')
    div.form-group
      label.citiesAttr(for='cityrevenue') City Revenue
      input#cityrevenue(type='text', name='cityrevenue')
    input(type="submit")
    script.
      document.forms['citiesForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        })
        .then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        })
        .then((body) => {
          alert("Save succeeded");
          // TODO handle body
        })
        .catch((error) => {
          // TODO handle error
          alert("Save failed " + error);
        });
      });
